@import url(./main.css);

.alert-text {
    color: #6E1110 !important;
}

.alert{

}

.success {
    color: white;
    background-color: greenyellow;
    padding: 10px;
    width: 100%;
}

.error {
    color: var(--light-color);
    background-color: rgb(223, 93, 53);
    border: 2px solid rgb(201, 13, 13);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}