@import url("main.css");

body {
    background-color: var(--bg-color);
}

#nav-bar-container{
    background-color: var(--dark-color);
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

#nav-bar{
    margin-left: 20px;
    box-sizing: border-box;
    width: 98vw;
    height: 60px;
    padding: var(--main-padding);
    display: flex;
    justify-content: flex-start;
    
}

#nav-bar ul{
    list-style-type: none;
    display: flex;
    padding: 0;
}

#portfolio-links {
    display: flex;
    align-items: center;
}

#portfolio-links li {
    margin: 0 15px 0 0;
}   

#nav-bar ul li a {
    color: var(--main-text-color);
    font-size: 24px;
    border-bottom: transparent 3px solid;
    transition: 0.1s linear;
}

#nav-bar ul li a:hover {
    border-bottom: var(--main-text-color) 3px solid;
}

#user-details {
    margin-left: auto;
}

.user-profile-link {

}

.user-profile-link .user-profile-img{
    height: 40px;
    aspect-ratio: 1 / 1;
    background-color: yellow;
    border-radius: 100%;
}